doctype html
html
    head
        title Edit
        meta(name="update_interval" content=updateInterval)
        meta(name="viewport_dimension_y" content=viewport.height)
        meta(name="viewport_dimension_x" content=viewport.width)
        include includes/styles.pug
        +sheet("/styles/editor.css")
        include includes/scripts.pug
        for path in scripts
            +script(path)
    body
        include includes/navbar.pug
        nav.navbar(role="editing" aria-label="editor")
            .navbar-start
                a.navbar-item.right-divider#newScreen
                    i.fas.fa-plus
                    span.space-from-icon New Screen
                .navbar-item.has-dropdown.is-hoverable.right-divider#newElement
                    a.navbar-link
                        f.fas.fa-expand
                        span.space-from-icon New Element
                    .navbar-dropdown
                        a.navbar-item(type="inputfield")
                            i.fas.fa-keyboard
                            span.space-from-icon Input field
                        a.navbar-item(type="textbox")
                            i.fas.fa-align-left
                            span.space-from-icon Text box
                        a.navbar-item(type="background")
                            i.fas.fa-image
                            span.space-from-icon Background
                        a.navbar-item(type="button")
                            i.fas.fa-arrow-right
                            span.space-from-icon Button
                a.navbar-item.disabled#controlFlow(use="edit")
                    i.fas.fa-cogs
                    span.space-from-icon Control Flow
                a.navbar-item.disabled#background( use="edit")
                    i.fas.fa-image
                    span.space-from-icon Background
                a.navbar-item.disabled#delete(use="edit" role="delete")
                    i.fas.fa-trash-alt
                    span.space-from-icon Delete
            .navbar-end
                a.navbar-item#demonstrate
                    i.fas.fa-mobile
                    span.space-from-icon Demonstrate
                .navbar-item.has-dropdown.is-hoverable#editProjectDetails
                    a.navbar-item
                        i.fas.fa-pencil-alt
                        span.space-from-icon Edit Project Details
                    .modal
                        .modal-background
                        .modal-card
                            header.modal-card-head
                                span.modal-card-title Project Details
                            .modal-card-body
                                label.label Name
                                .field
                                    input.input(type="text" filling="name" value=project.name)
                                    span.help.is-danger.hidden This field cannot be empty
                                label.label Description
                                .field
                                    textarea.textarea(placeholder="Project description" filling="description" rows="2") #{project.description}
                            footer.modal-card-foot
                                a.button.is-success Done
        #area
            include includes/editorparts.pug
            #screenviews
                each screen, index in project.screens
                    +screenview(screen, index)
            each screen, index in project.screens
                +editarea(screen)